html {
  box-sizing: border-box;
}
body {
  background: #6c1188;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #c244f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #a518dd); 
  font-family: 'Work Sans', sans-serif;
}
ul {
  list-style: none;
  padding: none;
  margin: none;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}